{{page-title "EnrollmentApplication"}}
{{#if @model.user.submittedApplication}}
<div class="container submitted-application">
    <h2>Completed Application <BsButton @type="primary" @onClick={{this.resetExperience}}>Reset Demo</BsButton>
    </h2>
    <p><strong>First Name: </strong>{{@model.user.firstName}}</p>
    <p><strong>Last Name: </strong>{{@model.user.lastName}}</p>
    <p><strong>Email Address: </strong>{{@model.user.emailAddress}}</p>
    <p><strong>Address: </strong>{{@model.user.address}}</p>
    <p><strong>Number of Children: </strong>{{@model.user.children}}</p>
    <p><strong>Personal Monthly Income: </strong>{{@model.user.personalMonthlyIncome}}</p>
    <p><strong>Household Monthly Income: </strong>{{@model.user.householdMonthlyIncome}}</p>
    <p><strong>Notes For Reviewer: </strong>{{@model.user.notesForReviewer}}</p>
</div>
{{else}}
<div class="row application-header">
    <div class="col-8">
        <h2 class="text-dark">Hello, {{@model.user.firstName}}. Let's get you covered.</h2>
    </div>
    <div class="col-4 text-right">
        <BsButton @onClick={{this.submitApplication}} @type="primary">Submit Application</BsButton>
    </div>

</div>
{{#if @model.errorMessage}}
<div class="row text-danger">
    <div class="col-12 text-right">{{@model.errorMessage}}</div>
</div>
{{/if}}
<BsNav @type="tabs" @justified={{false}} @stacked={{false}} @fill={{false}} as |nav|>
    <nav.item>
        <nav.link-to @route="enrollment-application.about-you">About You</nav.link-to>
    </nav.item>
    <nav.item>
        <nav.link-to @route="enrollment-application.financial-information">Financial Information</nav.link-to>
    </nav.item>
    <nav.item>
        <nav.link-to @route="enrollment-application.other">Other</nav.link-to>
    </nav.item>
</BsNav>
<div class="container application-subform">
    <div class="col-6">
        {{outlet}}
    </div>
</div>

{{/if}}